#Header{
    background-color:#003964;
    height:90px;
    position:fixed;
    top:0px;
    left:0px;
    right:0px;

}
#Header ul {
    position:fixed;
    right:30px;
    float:right;
    display:block;


}
#search{
    float:right;
    display:block;
    position:fixed;
    top:20px;
    right:30px;
}

#Header li{
    display:inline-block;
    filter: brightness(0) invert(1);


}

#logo{
    filter: brightness(0) invert(1);
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0!important;
    position: relative;
    text-shadow: none;
    background-position: left;
}

.dropbtn {
    /* background-color: #003964;
    color: white; */
    font-size: 16px;
    border: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: #ddd;}

  .dropdown:hover .dropdown-content {display: block;}

  .dropdown:hover .dropbtn {background-color: #003964;}