table{
    text-align: center;
}

.form {
    padding: 40px;
    max-width:600px;
    margin:40px auto;
  }
/* general rules for all buttons*/
button {
    cursor: pointer;
}
/* set styles for the register button*/
.register{
    background-color:lightskyblue;
}
/* set styles for the signin button*/
.signin{
    background-color:lightgreen;

}

.mobileNumber{
    width: 100%;
}