.table {
    font-family: Calibri;
    position: relative;
    width: 90%;
    margin: auto;
}

.table-stripped tbody tr:nth-child(2n+1) {
    background-color: #e7e7e7;

}

.table td {
    padding: 5px 10px;
}

.table-bordered td {
    border-bottom: 1px solid black;
}

.table-bordered {
    border-collapse: collapse;
}

.table-hover tr:hover {
    background-color: yellowgreen !important;
}


.left-box {
    width: 70%;
    float: left;
    clear: both;
    display: inline-block;
}

.right-box {
    width: 30%;
    float: right;
    clear: both;
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
}